body{
  background: #ffffff;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
}

.welcome{
  text-align: center;
  align-items: center;
  background: url('../images/bg-header-desktop.png') center no-repeat;
}
 
.logo-area{
  border: 1px solid red;
  margin-top: 50px;
}

.logo-area img{
  width: 150px;
  height: 150px;
}


.title{
  font-size: 34px;
  width: 80%;
  margin: 50px auto 0;
}

.section-two{
  margin: 50px auto 0;
  overflow: hidden;
  width: 80%;
}

.header-container{
  text-align: center;
  margin: 0 0 4% auto;
}

.header-title{
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  align-items: center;
}

.subtitle{
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  color: #BDBDBD;
}

.holder-buttons{
  margin-top: 5%;
}

.btn{
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-primary{
  background:#088A68;  
}

.btn-secondary{
  background:#2E64FE;
}

.cpLine4{
  float: none; 
}

.section-two-image img{
    max-width: 90%;
}

.item-text{
  margin-bottom: 24px;
}

.item-text-title{
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}

.item-text-subtitle{
  font-size: 16px;
  color: #BDBDBD;
}

.holder-content-parte4{
  margin: 0 auto;
  width: 80%;
}

.cpTitle4-1{
  float: none;
}

.cpTitle4-2{
  float: none;
  margin-top: -50px;
}

.p4-1{
  float: none;
}

.p4-2{
  float: none;
}

.p4-3{
  float: none;
}

.section-four{
  width: 80%;
  margin: 80px auto 0
}

.section-four img{
  max-width: 100%;
}

.cpTitle6-1{
  float: none;
}

.cpTitle6-2{
  float: none;
  margin-top: -50px;
}

.p6-1{
  float: none;
}

.p6-2{
  float: none; 
}

.section-two-image{
  text-align: center;
}

.section-two-explanation{
  text-align: center;
  margin-top: 50px;
}

.section-three{
  margin-top: 100px;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-five{
  width: 80%;
  margin: 90px auto 0;
  text-align: center;
}

.holder-card{
  overflow: hidden;
}

.card{
  margin-top: 50px;
  text-align: center;
}   

.imagemP7{
  height: 40px;
  margin-bottom: 20px;
}

.cpTitle7-1{
  float: none;
}

.item-logo{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px 0 auto;
}

.section-seven{
  margin-top: 130px;
  text-align: center;
}

footer{
  margin-top: 130px;
  text-align: center;
  background-color:  #f5f6f8;
  overflow: hidden;
}

.footer-img{
  width: 100%;
  margin-top: 50px;
}

.links{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.link-group{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link-item{
  text-decoration: none;
  margin-bottom: 30px;
  color: gray;
}

.social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.social-media-icon{
  width: 25px;
  margin-bottom: 80px;
}

@media (min-width:600px){

	.section-two-image{ 
		width: 48%;
		float: left;
	}

	.section-two-explanation{
		width: 50%;
		float: right;
	} 

  .subtitle{
    width: 50%;
    font-size: 24px;
  }

  .btn{
    margin-bottom: 0;
  }

  .item-text{
    text-align: left;
  }    

  .card{
    width: 25.33%;
    float: left;
    padding: 0 4%;
  }

  .section-four{
    width: 100%;
    text-align: center;
  }

  .section-six{
    margin-top: 100px;
    overflow: hidden;
    display: flex;
  }

  .item-logo{
    flex-direction: row;
    align-items: center; 
  }

  .item-text-subtitle{
    margin: 0;
  
  }
  .footer-img{
    margin-top: 50px;
    margin-left: 12px;
    width: 20%;
    float: left;
  }
    
  .link-group{
    width: 13,3%;
    margin-top: 20px;
    display: flex;
    text-align: left;
    align-self: baseline;
    flex-direction: column;
  }

  .section-two{
    width: 100%;
    margin-top: 100px;
  }

  .links{
    display: flex;
    flex-direction: row;
    width: 40%;
  }

  .social-media{
    margin-top: -120px;
      width: 40%; 
      float: right;
  } 
}